.about {
  background-color: $color-gray-light;
  letter-spacing: 0.055em;

  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    @extend %container;
    display: grid;
    
    @include lg-min {
      gap: $gap * 5;
      grid-template-areas: "b1 b2";
    }

    @include lg-md {
      gap: $gap * 2;
      grid-template-columns: 1fr 255px;
    }

    @include md-sm {
      gap: 20px;
      grid-template-columns: 1fr 236px;
    }

    @include sm {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }

  &__content {
    p {
      color: #637588;

      @include lg-min {
        font-size: 1.125rem;
      }

      &:first-of-type {
        position: relative;
        margin-top : -5px;
  
        &::after {
          position: absolute;
          top: 0;
          right: -50px;
          width: 2px;
          height: 200px;
          content: "";
          background-color: #d8dadc;
        }
    
        @include lg-md {
          &::after {
            right: -20px;
          }
        }
        
        @include md-sm {
          &::after {
            right: -10px;
          } 
        }
        
        @include sm {
          &::after {
            display: none;
          }
        }
      }

      &:last-of-type {
        margin: 0;
      }
    }
  }

  &__image {
    display: grid;
    justify-items: center;
    align-content: center;

    img {
      max-width: 100%;
    }
  }
}